<% include adminPartials/adminHeader %>
<div style="padding:1rem 0" class="container">
    <div class="card" style="width: 100%">
        <div style="background-color:#BDBDBD" class="card-header">
            Booking Details
        </div>
        <% bookings.reverse().forEach(function(booking){ %>
        <div style="padding: 1rem 0.5rem;" class="row">
            <div class="col-lg-3">
                <%= booking._id %>
            </div>
            <div class="col-lg-3">
                <%= booking.booked_on %>
            </div>
            <div class="col-lg-3">
                <%= booking.hotel.name %>
            </div>
            <div class="col-lg-2">
                <%= booking.author.username %>
            </div>
            <div class="col-lg-1">
                <a href="#">
                    <i style="color:#ba000d" class="far fa-trash-alt"></i>
                </a>
            </div>

        </div>
        <!-- <button>Cancel Booking</button> -->
        <div class="dropdown-divider"></div>
        <!-- <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="<%= booking.hotel.image %>" alt="<%= booking._id %>">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
            </div>
        </div> -->
        <% });%>
    </div>
</div>
<% include adminPartials/adminFooter %>