<% include ../partials/header %>
<div style="margin-bottom:2rem;" class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="thumbnail">
                        <img class="image-responsive card-image" height="480" width="720" src="<%=hotel.image %>" width="100%" />
                        <div class="caption-full">
                            <h4 class="pull-right">Rs
                                <%=hotel.price %> /Day</h4>
                            <h4><a>
                                    <%= hotel.name %></a></h4>
                            <p>
                                <%= hotel.description %>
                            </p>
                            <p>
                                <em> Added By
                                    <%= hotel.author.username %></em>
                            </p>
                            <p>
                                <em> Added on
                                    <%= hotel.created_at %></em>
                            </p>
                            <% if(hotel.updated_at){ %>
                            <p>
                                <em> Updated on
                                    <%= hotel.updated_at %></em>
                            </p>
                            <% } %>
                            <% if(currentUser && hotel.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-xs btn-warning" href="/hotels/<%= hotel._id  %>/edit">Edit</a>
                            <form class="del" action="/hotels/<%=hotel._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-xs btn-danger">Delete</button>
                            </form>
                            <% } %>
                        </div>
                    </div>
                    <% if(!(currentUser && hotel.author.id.equals(currentUser._id))){ %>
                    <div style="margin-bottom:1rem">
                        <a href="/hotels/<%=hotel._id %>/book">
                            <button style="background-color:#212121;" class="btn btn-xs btn-raised btn-success">Book</button>
                        </a>
                    </div>
                    <% } %>
                    <div class="well">
                        <!-- <div class="row"> -->
                        <!-- action="/hotels/<%= hotel._id %>/comments"  -->




                        <form id="addCommentForm" action="/hotels/<%= hotel._id %>/comments" method="POST">
                            <div class="row justify-content-between">
                                <div class=" col-lg-9">
                                    <input id="inputComment" placeholder="Write new comment" name="comment[text]"
                                        required type="text" class="form-control" id="formGroupExampleInput">
                                </div>
                                <div class=" col-lg-3">
                                    <button id="addCommentButton" style="background-color: #263238;color: white;" class="btn btn-raised btn-block">Add
                                        Comment</button>
                                </div>
                            </div>
                        </form>


                        <!-- testing -->


                        <!-- <form id="addCommentForm" action="/hotels/<%= hotel._id %>/comments" data-hotelId="<%= hotel._id %>"
                            method="POST">
                            <div class="row justify-content-between">
                                <div class=" col-lg-9">
                                    <input id="inputComment" placeholder="Write new comment" name="comment[text]"
                                        required type="text" class="form-control" id="formGroupExampleInput">
                                </div>
                                <div class=" col-lg-3">
                                    <button id="addCommentButton" style="background-color: #263238;color: white;" class="btn btn-raised btn-block">Add
                                        Comment</button>
                                </div>
                            </div>
                        </form>
                        <hr>

                        <div id="listOfComment">

                        </div>
 -->



                        <!-- testing -->



                        <% hotel.comments.reverse().forEach(function(comment){ %>
                        <div class="row">
                            <div class="col-md-12">
                                <strong> By
                                    <%= comment.author.username %></strong>
                                <p>Added on
                                    <%= comment.comment_on %>
                                </p>
                                <% if(comment.comment_updated_on){%>
                                <p>Updated on
                                    <%= comment.comment_updated_on %>
                                </p>
                                <% } %>
                                <p><strong>
                                        <%= comment.text %>
                                    </strong>
                                </p>
                                <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                                <a class="btn btn-xs btn-warning" href="#<%= comment._id %>" data-toggle="collapse"
                                    role="button" aria-expanded="false" aria-controls="<%= comment._id %>">
                                    Edit
                                </a>
                                <form style="display:inline;" action="/hotels/<%= hotel._id %>/comments/<%= comment._id %>?_method=DELETE"
                                    method="POST">
                                    <button class="btn btn-xs btn-danger">Delete</button>
                                </form>
                                <div class="collapse" id="<%= comment._id %>">
                                    <div class="card card-body">
                                        <form action="/hotels/<%= hotel._id %>/comments/<%= comment._id %>?_method=PUT"
                                            method="POST">

                                            <div class="row justify-content-between">
                                                <div class=" col-lg-9">
                                                    <input name="comment[text]" value="<%=comment.text %>" required
                                                        type="text" class="form-control" id="formGroupExampleInput">
                                                </div>
                                                <div class=" col-lg-3">
                                                    <button id="updateComment" style="background-color: #263238;color: white;"
                                                        class="btn btn-raised btn-block">Update
                                                        !</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <% } %>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <% })  %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>
<!-- 
<script type="text/javascript">
    $(document).ready(() => {
        $('#addCommentButton').click((event) => {

            event.preventDefault();
            event.stopPropagation();
            console.log('add button clicked!!!!!!');
            $.ajax({
                // url: `/hotels/${$('#addCommentFOrm').data("hotelId")}/comments`,
                // type: 'POST',
                // contentType: 'application/json',
                // data: JSON.stringify({ "comment": $('#inputComment').val() })

                // asdasdad
                url: "https://api.mlab.com/api/1/databases/hotel/collections/comments?apiKey=MFcosI02FhP3TwPLbH1soE-W4hBBRmz4",
                data: JSON.stringify({ "x": 1 }),
                type: "POST",
                contentType: "application/json"
            }).done((result) => {
                console.log(result.x)
                changeComment(result.x);
                removeTextFromInput("inputComment")
            }).fail((err) => {
                console.log(err);
            })
                ;
        })
    });

    var changeComment = (comment) => {
        var div = document.getElementById('listOfComment');
        div.innerHTML = comment;
    }

    var removeTextFromInput = (input) => {
        var removeThis = document.getElementById(input);
        removeThis.value = "";
    }
</script> -->